/* uhc_yellow: #ffc61a*/
/* uhc_blue: #45b7ff*/

html {
  height: 100%;
  width: 100%;
  color: #ffb509;
  font-size: 3vh;
  font-family: sans-serif;
}

body {
  position: relative;
  background: url(../images/1500x500.png) no-repeat fixed center center;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

ul {
  list-style-type: none;
}

pre, span, a, a:visited {
  display: inline;
  color: #45b7ff;
  text-decoration: none;
}

a:hover {
  color: #4294d9;
}

/* Media queries, positioning list */

@media screen and (min-width: 981px) {
  section {
    position: absolute;
    top: 20vh;
    left: 45vw;
  }
}

/* Media queries, responsive on smartphones and tablets */

@media only screen and (max-width: 980px) {
  html {
    color: #d79409;
    font-size: 4.5vh;
  }

  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
    text-align: center;
    background-color: rgba(125, 125, 125, 0.9);
  }

  body {
    background: url(../images/gdUl5cDT.png) no-repeat fixed top center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
